body{
text-align: center;
padding-top: 800px;
}

#welcome{
position: absolute;
height:800px ;
left:0;
top: 0;
bottom:0 ;
right: 0;
background-color:linear-gradient ( blue 0%,blueviolet 100%);
}

